body {
    background-color: var(--background-color);
    color: white;
}

html,
body,
#root {
    height: 100%;
}

:root {
    --background-color: #040405;
    --nav-background: #08080a;
    --border: #3636367e;
}
