#optionsContainer {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#addToCartButton {
    background-color: #fff;
    color: #000;
    height: 50px;
    width: 130px;
    border-radius: 25px;

    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#amountContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    font-size: 24px;
}

#amountContainer span {
    font-family: Poppins;
    font-weight: 600;
}

#x {
    font-weight: 400 !important;
    font-size: 20px;
}

#amountContainer button {
    font-size: 24px;
    color: white;
    background-color: transparent;
    outline: 0;
    border: 0;
}
