h3 {
    font-family: Poppins;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 27px;
}
#productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-family: Montserrat;
}
#pricesContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
#price {
    font-weight: 600;
    font-size: 24px;
}
#priceDiscounted {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 13px;
}
#cardInfo {
    font-weight: 300;
    font-size: 12px;
}
#paymentContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#imgContainer {
    position: relative;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 300px;
}

#eyeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--border);
    transition: 0.25s all;
}

.selected {
    background-color: #fff;
}
